@use "../scss/variables.scss" as *;

.apartment-page {
  color: $color-primary;
  .apartment__description__area {
    display: flex;
    gap: 1rem;
    overflow: hidden;
    li {
      list-style: none; // Supprime les puces de la liste
    }
    @media screen and (width <= 768px) {
      flex-direction: column;
    }
  }
}