@use "../scss/variables.scss" as *;

.banner {
  position: relative;
  background-position: center;
  background-size: cover;
  padding-inline: 2rem;
  background-image: url("../assets/banner.png");
  min-height: 140px;
  margin: auto;
  border-radius: 2rem;
  display: grid;
  place-items: center;
  color: $color-tertiary;
  margin-bottom: 2rem;
  max-width: 100%;
  h1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @media screen and (width <= 667px) {
      font-size: 1.8rem;
    }
  }
  &::before {
    position: absolute;
    border-radius: 2rem;
    content: "";
    inset: 0;
    opacity: 0.5;
  }
}